<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amp" version="1.5.42" targetFramework="xamarinios10" />
  <package id="Amp.Rx" version="1.5.11" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="xamarinios10" />
  <package id="MvvmCross" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.Plugin.DownloadCache" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.Plugin.File" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.Plugin.Messenger" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.StarterPack" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="xamarinios10" />
  <package id="Xamarin.TestCloud.Agent" version="0.16.2" targetFramework="xamarinios10" />
</packages>